.card-header {border-bottom: 1px solid;margin-bottom: 29px;padding-bottom: 10px;font-size: 17px;}
.inputSpace {margin-top: 20px;}
.error {color: red;font-weight: bold}
html{    height: 100%;}
body{height: 100%;}
.bg_color{background: #b8ddff; height: 88.5%;}
.page-wrapper {
    min-height: inherit !important;
}

.register-form .p-t-180 {
    padding-top: 75px;
}
.register-form .p-b-100 {
    padding-bottom: 50px;
}
.login-form .card-2 .card-heading {background: url(../images/marketing.jpg) top left/cover no-repeat;width: 48.1%;display: table-cell;}
.menuRight{float:right !important;}
.navbar-nav>li {float: left;text-decoration: none;list-style: none;    margin: 23px 20px;font-size: 16px;}
.navbar {position: relative;min-height: 90px;margin-bottom: 20px;border: 1px solid transparent;}
img.logo {width: 80px;}
.register-form .card-2 .card-heading {background: url(../images/marketing.jpg) top left/cover no-repeat;width: 29.1%;display: table-cell;}
.padding_add{padding-left: 15px;padding-right: 15px;  margin-bottom: 15px;}
.accordion-section .panel-default .panel-title a:after {font-family: 'FontAwesome';font-style: normal;font-size: 3rem;content: "\f106";color: #1f7de2;float: right;margin-top: -12px;}
.accordion-section .panel-default .panel-title a.collapsed:after {content: "\f107";}
.panel-group {margin-bottom: 20px;margin-top: 20px;}
.campingListImg {float: left;    width: 20%;    text-align: center;}
.campingListTitleandDec {float: left;width: 70%;padding: 62px 19px;border-right: 1px dotted;}
.campingListShareBtn {float: left;    padding: 81px 15px}
.campingList {margin: 20px 0px;   width: 100%; background: #cccccc45;float: left;box-shadow: 2px 2px #ccc;border: 1px solid #ccc;border-radius: 5px;}
.campingListTitleandDec h5 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.campingListImg img {
  padding: 20px;
    border-radius: 100%;
    width: 85%;
}
.campingListShareBtn button.btn.btn-primary {
    background: #2c9fff;
}
.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 0px !important;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.checkbox .cr .cr-icon{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}
.input-group-addon {
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    border-radius: inherit;
}
